@{ ViewData["Title"] = "Вход"; }
<h2>Вход</h2>
<form class="col-md-4">
  <input class="form-control mb-2" placeholder="Email">
  <input class="form-control mb-2" type="password" placeholder="Пароль">
  <button class="btn btn-primary">Войти</button>
</form>
