@{ ViewData["Title"] = "Регистрация"; }
<h2>Регистрация</h2>
<form class="col-md-4">
  <input class="form-control mb-2" placeholder="Email">
  <input class="form-control mb-2" placeholder="Имя">
  <input class="form-control mb-2" type="password" placeholder="Пароль">
  <button class="btn btn-success">Создать аккаунт</button>
</form>
